
* {
    margin: 0;
    padding: 0;

}
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
 }
.container {
    text-align: center;
    margin: 50px auto;
}


h1 {
    margin: 0;
    padding: 0;
    font-size: 35px;
}
 
h3 {
     padding-top: 10px;
    font-size: 30px;
    color: #3498db;
}
/* btnindex */
.btn {
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 25px;
    font-family: "montserrat";
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

    .btn::before {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 0%;
        background: #3498db;
        z-index: -1;
        transition: 0.8s;
        -webkit-transition: 0.8s;
        -moz-transition: 0.8s;
        -ms-transition: 0.8s;
        -o-transition: 0.8s;
    }


/* btnsubmit  */
.btnsubmit {
    border: none;
    margin: 2px;
    padding: 5px;
    width: 175px;
    font-family: "montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-size: 200%;
    transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
}

.btnsubmit {
    background-image: linear-gradient(to left, #12cbc4, #0652dd, #12cbc4);
}

    .btnsubmit:hover {
        background-position: right;
    }
       
#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.textcenter{text-align:center;}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.text {
    width: 200px;
    height: 200px;
    line-height: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: #262626;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 2em;
    background: transparent;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

.ring {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0 4px 0 #262626;
    background: transparent;
    animation: animate 1s linear infinite;
    -webkit-animation: animate 1s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

input[type="checkbox"], input[type="radio"] {
     position: absolute;
    opacity: 0;
    z-index: -1;
}

.fix{
     margin-top:10px;
}
/* input number */
.num {
    width: 150px;
    height: 40px;
    padding: 0 14px;
    margin-top: 25px;
    border: 2px solid #aaa;
    outline: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.num:focus {border: none;box-shadow: 0 0px 15px #3498db;}
/* BTN END */
.btn {
    position: relative;
    display: block;
    color: #3498db;
    font-family: "montserrat";
    text-decoration: none;
    margin: 30px auto;
    border: 2px solid #3498db;
    padding: 12px 10px;
     text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -ms-transition: 1s all ease;
    -o-transition: 1s all ease;
}