
* {
    margin: 0;
    padding: 0;
}
p {
    white-space: pre;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
.container {
    text-align: center;
    margin: 50px auto;
}


h1 {
    margin: 0;
    padding: 0;
    font-size: 35px;
}
 
h3 {
     padding-top: 10px;
    font-size: 30px;
    color: #3498db;
}
/* btnindex */
.btn {
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 25px;
    font-family: "montserrat";
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

    .btn::before {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 0%;
        background: #3498db;
        z-index: -1;
        transition: 0.8s;
        -webkit-transition: 0.8s;
        -moz-transition: 0.8s;
        -ms-transition: 0.8s;
        -o-transition: 0.8s;
    }


/* btnsubmit  */
.btnsubmit {
    border: none;
    margin: 2px;
    padding: 5px;
    width: 175px;
    font-family: "montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-size: 200%;
    transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
}

.btnsubmit {
    background-image: linear-gradient(to left, #12cbc4, #0652dd, #12cbc4);
}

    .btnsubmit:hover {
        background-position: right;
    }
       
#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.textcenter{text-align:center;}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.text {
    width: 200px;
    height: 200px;
    line-height: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: #262626;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 2em;
    background: transparent;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

.ring {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0 4px 0 #262626;
    background: transparent;
    animation: animate 1s linear infinite;
    -webkit-animation: animate 1s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

input[type="checkbox"], input[type="radio"] {
     position: absolute;
    opacity: 0;
    z-index: -1;
}

label {
    position: relative;
    display: inline-block;
    padding: 0 0 0 2em;
    height: 1.5em;
    line-height: 1.5;
    cursor: pointer;
}
    label:before, label:after {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 1.5em;
        height: 1.5em;
    }

    label:before {
        content: '';
        border: 2px solid #aaa;
        border-radius: 20%;
        -webkit-border-radius: 20%;
        -moz-border-radius: 20%;
        -ms-border-radius: 20%;
        -o-border-radius: 20%;
    }
/* Checkbox */
input[type="checkbox"] + label:after {
    content: "\2714";
    color: #fff;
    line-height: 1.7em;
    text-align: center;
}
.fix{
     margin-top:10px;
}
/* Radio */
input[type="radio"] + label:before {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

input[type=radio] + label:after {
    content: '';
    top: 4.5px;
    left: 4.5px;
    width: 14.5px;
    height: 14.5px;
    background: #3498db;
    border: .2em solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* :checked */
input[type="checkbox"]:checked + label:before, input[type="radio"]:checked + label:before {
    background: #3498db;
    border-color: #3498db;
}

input[type="checkbox"] + label:after, input[type=radio] + label:after {
    transform: scale(0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -moz-transform: scale(0);
}

input[type="checkbox"]:checked + label:after, input[type=radio]:checked + label:after {
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
}
/* Transition */
label:before, label:after {
    transition: .27s all ease;
    -webkit-transition: .27s all ease;
    -o-transition: .27s all ease;
    -moz-transition: .27s all ease;
    -ms-transition: .27s all ease;
}
/* input number */
.num {
    width: 150px;
    height: 40px;
    padding: 0 14px;
    margin-top: 25px;
    border: 2px solid #aaa;
    outline: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
progress {
    text-align: center;
    height: 5em;
          width: 100%;
      
    /* Set the progressbar to relative */
    position: relative;
}

    progress:before {
        content: attr(data-label);
        font-size: 1em;
        padding-top:27px;
         /*Position text over the progress bar */
        position: absolute;
        left: 0;
        right: 0;
    }

    progress::-webkit-progress-bar {
        background-color: #c9c9c9;
    }

    progress::-webkit-progress-value {
        background-color: #7cc4ff;
    }

    progress::-moz-progress-bar {
        background-color: #7cc4ff;
    }
    .num:focus {
        border: none;
        box-shadow: 0 0px 15px #3498db;
    }




.wrapper {
    width: 500px;
    margin: 50px auto;
}

 
.progfill {
    display: block;
    background-color: #3498db;
    height: 40px;
    line-height: 40px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    transition: width 500ms ease-in-out;
    -webkit-transition: width 500ms ease-in-out;
    -moz-transition: width 500ms ease-in-out;
    -ms-transition: width 500ms ease-in-out;
    -o-transition: width 500ms ease-in-out;
}

label {
    font-weight: bold
}

/* arrow */
.arrow {
    position: absolute;
    margin-top: 30px;
    display: flex;
    margin-left: -25px;
}

.arrow2 {
    list-style: none;
    width: 50px;
    height: 50px;
    background: #3498db;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 05s;
    -webkit-transition: 05s;
    -moz-transition: 05s;
    -ms-transition: 05s;
    -o-transition: 05s;
}

    .arrow2:focus {
        outline: none
    }

    .arrow2:hover {
        background: #12cbc4;
        outline: none
    }

.spn {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 4px solid #fff;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.next .spn {
    top: 50%;
    right: 20%;
    transform: translateY(-50%) rotate(-45deg);
    -webkit-transform: translateY(-50%) rotate(-45deg);
    -moz-transform: translateY(-50%) rotate(-45deg);
    -ms-transform: translateY(-50%) rotate(-45deg);
    -o-transform: translateY(-50%) rotate(-45deg);
    border-left: none;
    border-top: none;
}

.next:hover .spn {
    right: 16%;
}

.next .spn:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background: #fff;
    transform-origin: right;
    transform: rotate(45deg) translate(0px, 25px) scale(0);
    -webkit-transform: rotate(45deg) translate(0px, 25px) scale(0);
    -moz-transform: rotate(45deg) translate(0px, 25px) scale(0);
    -ms-transform: rotate(45deg) translate(0px, 25px) scale(0);
    -o-transform: rotate(45deg) translate(0px, 25px) scale(0);
}

.next:hover .spn:before {
    transform: rotate(45deg) translate(-5px, 25px) scale(1);
    -webkit-transform: rotate(45deg) translate(-5px, 25px) scale(1);
    -moz-transform: rotate(45deg) translate(-5px, 25px) scale(1);
    -ms-transform: rotate(45deg) translate(-5px, 25px) scale(1);
    -o-transform: rotate(45deg) translate(-5px, 25px) scale(1);
}

.prev .spn {
    bottom: 10%;
    left: 20%;
    transform: translateY(-50%) rotate(-45deg);
    -webkit-transform: translateY(-50%) rotate(-45deg);
    -moz-transform: translateY(-50%) rotate(-45deg);
    -ms-transform: translateY(-50%) rotate(-45deg);
    -o-transform: translateY(-50%) rotate(-45deg);
    border-right: none;
    border-bottom: none;
}

.prev:hover .spn {
    left: 16%;
}

.prev .spn:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background: #fff;
    transform-origin: left;
    transform: rotate(45deg) translate(-2px, -1px) scaleX(0);
    -webkit-transform: rotate(45deg) translate(-2px, -1px) scaleX(0);
    -moz-transform: rotate(45deg) translate(-2px, -1px) scaleX(0);
    -ms-transform: rotate(45deg) translate(-2px, -1px) scaleX(0);
    -o-transform: rotate(45deg) translate(-2px, -1px) scaleX(0);
}

.prev:hover .spn:before {
    transform: rotate(45deg) translate(-10px, 5px) scaleX(1);
    -webkit-transform: rotate(45deg) translate(-10px, 5px) scaleX(1);
    -moz-transform: rotate(45deg) translate(-10px, 5px) scaleX(1);
    -ms-transform: rotate(45deg) translate(-10px, 5px) scaleX(1);
    -o-transform: rotate(45deg) translate(-10px, 5px) scaleX(1);
}

/* BTN END */
.btn {
    position: relative;
    display: block;
    color: #3498db;
    font-family: "montserrat";
    text-decoration: none;
    margin: 30px auto;
    border: 2px solid #3498db;
    padding: 12px 10px;
     text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -ms-transition: 1s all ease;
    -o-transition: 1s all ease;
}
 
