
*, html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* btnsubmit  */
.btnsubmit {
    border: none;
    margin: 2px;
    padding: 5px;
    font-family: "montserrat", sans-serif;
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-size: 200%;
    transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    width: 100%;
}
.btnsubmit {background-image: linear-gradient(to left, #12cbc4, #0652dd, #12cbc4);}
.btnsubmit:hover {background-position: right;}

input[type="checkbox"], input[type="radio"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.label {
    position: relative;
    display: inline-block;
    padding: 0 0 0 40px;
    height: 1.5em;
    line-height: 1.5;
    cursor: pointer;
    font-size: 22px;
}
.label:before, .label:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 1.5em;
    height: 1.5em;
}
.label:before {
    content: '';
    border: 2px solid #aaa;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}
/* Checkbox */
input[type="checkbox"] + .label:after {
    content: "\2714";
    color: #fff;
    line-height: 1.7em;
    text-align: center;
}
/* Radio */
input[type="radio"] + .label:before {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
input[type=radio] + .label:after {
    content: '';
    top: 4px;
    left: 4px;
    width: 20px;
    height: 20px;
    background: #3498db;
    border: .2em solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* :checked */
input[type="checkbox"]:checked + .label:before, input[type="radio"]:checked + .label:before {
    background: #3498db;
    border-color: #3498db;
}
input[type="checkbox"] + .label:after, input[type=radio] + .label:after {
    transform: scale(0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -moz-transform: scale(0);
}
input[type="checkbox"]:checked + .label:after, input[type=radio]:checked + .label:after {
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
}
/* Transition */
.label:before, .label:after {
    transition: .27s all ease;
    -webkit-transition: .27s all ease;
    -o-transition: .27s all ease;
    -moz-transition: .27s all ease;
    -ms-transition: .27s all ease;
}
/* arrow */
.arrow {
    content: '';
    list-style: none;
    width: 50px;
    height: 50px;
    font-size: 25px;
    background: #3498db;
    margin: 0 5px;
    cursor: pointer;
    color: white;
    font-weight: bolder;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 05s;
    -webkit-transition: 05s;
    -moz-transition: 05s;
    -ms-transition: 05s;
    -o-transition: 05s;
    outline: none;
}
.arrow:focus {outline: none}
.arrow:hover {background: #12cbc4;outline: none}


section {width: 100%;}
.sec1, .sec2 {height: auto;box-sizing: border-box}
.title {
    padding: 0;
    font-family: sans-serif;
    font-size: 22px;
}
pre {
    margin: 0;
    color: #000;
    display: block;
    margin-inline-start: 1px;
    margin-inline-end: 0px;
    white-space: pre-wrap;
    word-wrap: break-word;
    white-space: pre-line;
    text-align: left;
    font-size: 27px;
}
@media only screen and (max-width: 568px) {
    .title {
        font-size: 18px;
        font-weight: bold
    }
    pre {
        font-size: 18px;
        font-weight: bold
    }
    .label {
        font-size: 18px;
        font-weight: bold;
    }
    input[type=radio] + .label:after {
        top: 3px;
        left: 3px;
        width: 18px;
        height: 18px;
    }
    .btnsubmit {font-size: 18px;}
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}