*, html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* btnsubmit  */
.btnsubmit {
    border: none;
    margin: 2px;
    padding: 5px;
    font-family: "montserrat", sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-size: 200%;
    transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    width: 100%;
}

.btnsubmit {
    background-image: linear-gradient(to left, #12cbc4, #0652dd, #12cbc4);
}

    .btnsubmit:hover {
        background-position: right;
    }

input[type="checkbox"], input[type="radio"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.label {
    position: relative;
    display: inline-block;
    padding: 0 0 0 40px;
    height: 1.5em;
    line-height: 1.5;
    cursor: pointer;
    font-size: 18px;
    font-weight: bolder;
}
.label:before, .label:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 1.5em;
    height: 1.5em;
}
.label:before {
    content: '';
    border: 2px solid #aaa;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}
/* Checkbox */
input[type="checkbox"] + .label:after {
    content: "\2714";
    color: #fff;
    line-height: 1.7em;
    text-align: center;
}
/* Radio */
input[type="radio"] + .label:before {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

input[type=radio] + .label:after {
    content: '';
    top: 4.5px;
    left: 4.5px;
    width: 15px;
    height: 15px;
    background: #3498db;
    border: .2em solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* :checked */
input[type="checkbox"]:checked + .label:before, input[type="radio"]:checked + .label:before {
    background: #3498db;
    border-color: #3498db;
}

input[type="checkbox"] + .label:after, input[type=radio] + .label:after {
    transform: scale(0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -moz-transform: scale(0);
}

input[type="checkbox"]:checked + .label:after, input[type=radio]:checked + .label:after {
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
}
/* Transition */
.label:before, .label:after {
    transition: .27s all ease;
    -webkit-transition: .27s all ease;
    -o-transition: .27s all ease;
    -moz-transition: .27s all ease;
    -ms-transition: .27s all ease;
}
/* arrow */
.arrow {
    content: '';
    list-style: none;
    width: 50px;
    height: 50px;
    font-size: 25px;
    background: #3498db;
    margin: 0 5px;
    cursor: pointer;
    color: white;
    font-weight: bolder;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 05s;
    -webkit-transition: 05s;
    -moz-transition: 05s;
    -ms-transition: 05s;
    -o-transition: 05s;
    outline: none;
}
.arrow:focus {outline: none}
.arrow:hover {background: #12cbc4;outline: none}
section {width: 100%;}
.sec1, .sec2 {
    height: auto;
    box-sizing: border-box
}
.title {
    padding: 0;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bolder;
}
pre {
    margin: 0;
    color: #000;
    display: block;
    margin-inline-start: 1px;
    margin-inline-end: 0px;
    white-space: pre-wrap;
    word-wrap: break-word;
    white-space: pre-line;
    text-align: left;
    font-size: 25px;
}

@media only screen and (max-width: 568px) {
    .title {font-size: 18px;}
    pre {
        font-size: 16px;
    }
    .label {font-size: 16px;}
    input[type=radio] + .label:after {
        top: 3.4px;
        left: 3.4px;
        width: 15px;
        height: 15px;
    }
    .btnsubmit {font-size: 22px;}
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}
.btnnav {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    cursor: pointer;
    background: #ddd;
    position: relative;
    height: 50px;
    width: 50px;
}
.btnnav:active, .btnnav:focus, .btnnav:visited, .active {
    padding-top: 23px;
    box-shadow: inset 4px 0 4px rgba(0,0,0,.3);
    height: 61px;
}  
.btnnavcolorcheck {background-color: #3498db;}
.btnnavcolorrigth {background-color: rgb(250, 104, 104);}
.btnnavcolorwrong {background-color: rgb(66, 201, 122);}
.spancheck {
    position: absolute;
    width: 10px;
    font-size: 14px;
    font-weight: bolder;
    top: 18%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.spannav {
    position: relative;
    color: black;
    background: transparent;
    cursor: pointer;
}
.mark:before {
    content: 'ƒ';
    position: absolute;
    left: -5px;
    bottom: -11px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 23px;
    font-weight: bolder;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: orange;
}
/* ⚑ */
.ls {position: relative;padding: 20px;}
.inpchb {display: none;}
.spns1 {position: relative;}
.spns1 {
    width: 80px;
    height: 40px;
    background: #ccc;
    display: block;
    overflow: hidden;
    cursor: pointer;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-right: 2px;
}
.spns1:before {
    content: '⚑';
    position: absolute;
    width: 32px;
    height: 32px;
    line-height: 32px;
    left: 4px;
    bottom: 4px;
    background: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    font-size: 25px;
    color: orange;  
}
.inpchb:checked + .spns1 {background: #03a9f4;}
.inpchb:checked + .spns1:before {left: 44px;}


/* 👁 */
.ls {position: relative;padding: 20px;}
.inpchb {display: none;}
.spns2 {position: relative;}
.spns2 {
    width: 80px;
    height: 40px;
    background: #ccc;
    display: block;
    overflow: hidden;
    cursor: pointer;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-right: 2px;
}
.spns2:before {
    content: '👁';
    position: absolute;
    width: 32px;
    height: 32px;
    line-height: 32px;
    left: 4px;
    bottom: 4px;
    background: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    font-size: 32px;
}
.inpchb:checked + .spns2 {background: #03a9f4;}
.inpchb:checked + .spns2:before {left: 44px;}