@page "/"
@inject ExamMTA ExamMTA;
<div class="container">
    <h1>Welcome to the Microsoft @ExamMTA.ExamName Exam </h1>
       <button class="btn btnindex" style="margin: 50px auto;" @onclick='()=>NavigateToComponent("1")'>Click to Start</button>
           <div style="margin: 50px auto;margin-top: 20px;padding-top: 10px;border: 2px solid #aaa;border-radius: 12px;box-shadow: 0 0px 20px #999;width: 80%;">
        <h1 style="margin-bottom: 25px;">Control Panel</h1>
        
        <table border="0" style="text-align: left;margin: auto;">
            <tr>
                <td>
                    <input type="checkbox" name="cb" id="cb1" @bind="ExamMTA.AllowShowAnswer" /><label class="label" for="cb1">&nbsp; Show Answer</label>
                </td>
             </tr><br />
            <tr>
                <td>
                    <input type="checkbox" name="cb" id="cb2" @bind="ExamMTA.ShuffleQeustion" /><label class="label" for="cb2">&nbsp; Random Questions</label>
                </td>
            </tr><br />
            <tr>
                <td>
                    <input type="checkbox" name="cb" id="cb3" @bind="ExamMTA.ShuffleAnswer" /><label class="label" for="cb3">&nbsp; Random Answer</label>
                </td>
            </tr>
        </table>

      @*  <table style="margin: 50px auto;text-align: left;">
            <tr>
                <td>
                 
                </td>
       @*<td style="padding-left: 50px;">
                    <div>
                        <input type="radio" name="rd" id="rd1" /><label for="rd1">All Questions</label>
                    </div>
                </td>
            </tr> 
            <tr>
                <td>
                   
                </td>
        @*<td style="padding-left: 50px;" colspan="2">
                    <div>
                        <input type="radio" name="rd" id="rd2" /><label for="rd2">Specific Number Of Questions :</label>
                        <input type="number" min="0" class="num" />
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding-top: 10px;">
                  
                </td>*@
             @*<td style="padding-left: 50px;" colspan="2">
                    <div>
                        <input type="radio" name="rd" id="rd3" /><label for="rd3">
                            From :&nbsp;&nbsp;
                        </label><input type="number" min="0" class="num" />
                        To :&nbsp;&nbsp;
                        <input type="number" min="0" class="num" />
                    </div>
                </td>
            </tr>
        </table*@
        <br/>
    </div>
</div>