@page "/"
@inject NavigationManager NavigationManager
@code{
    private void NavigateToComponent(string Report) => NavigationManager.NavigateTo(Report);
}

<div class="container">
    <h1>Welcome to Microsoft MTA exam training center</h1>
    <h1> Microsoft 98-361</h1>
    <h3>to start a test click <button class="btn btnindex" @onclick='()=>NavigateToComponent("1")'>Here</button></h3>

    @*<div style="margin: 50px auto;margin-top: 20px;padding-top: 10px;border: 2px solid #aaa;border-radius: 12px;box-shadow: 0 0px 20px #999;width: 870px;">
        <h1 style="margin-bottom: 30px;">Control Panel</h1>
        <table style="margin: 50px auto;text-align: left;">
            <tr>
                <td>
                    <div>
                        <input type="checkbox" name="cb" id="cb1" /><label for="cb1">allow show answer</label>
                    </div>
                </td>
                <td style="padding-left: 50px;">
                    <div>
                        <input type="radio" name="rd" id="rd1" /><label for="rd1">All Questions</label>
                    </div>
                </td>
            </tr> 
            <tr>
                <td>
                    <div>
                        <br>
                        <input type="checkbox" name="cb" id="cb2" /><label for="cb2">Random Questions</label>
                    </div>
                </td>
                <td style="padding-left: 50px;" colspan="2">
                    <div>
                        <input type="radio" name="rd" id="rd2" /><label for="rd2">Specific Number Of Questions :</label>
                        <input type="number" min="0" class="num" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <input type="checkbox" name="cb" id="cb3" /><label for="cb3">Random Answer</label>
                    </div>
                </td>
                <td style="padding-left: 50px;" colspan="2">
                    <div>
                        <input type="radio" name="rd" id="rd3" /><label for="rd3">
                            From :&nbsp;&nbsp;
                        </label><input type="number" min="0" class="num" />
                        To :&nbsp;&nbsp;
                        <input type="number" min="0" class="num" />
                    </div>
                </td>
            </tr>
        </table>
    </div>*@

</div>
 
